doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    title= locals.title
    link(rel='stylesheet', href='/stylesheets/basic.css', media="screen and (max-width: 480px)")
    link(rel='stylesheet', href='/stylesheets/super.css', media="screen and (min-width: 480px)")
  body(role="application")
    block header
    block content
    block footer

    script(data-main="/javascripts/config.js", src="/vendors/requirejs/require.js").

    script().
      define("bootstrap", [], function() {
        var articles = [
          {
            'id': '1',
            'title': "## a remarkable title 1",
            'content': "__This__ is some quality content. Check it out!",
            'published': false,
            'perma': '1',
            'lastEdit': 'April 30th 2013, 12:00:00 am'
          },
          {
            'id': '2',
            'title': "## a remarkable title 2",
            'content': " ## Node.js-Based RESTFul services for Employee Directory Sample App ## \
                      Built with the Node.js and the [Express framework](http://expressjs.com/). \
                      The client application is available in [this repository](https://github.com/ccoenraets/directory-backbone-bootstrap) \
                      Refer to [this blog post](http://coenraets.org/blog/2013/04/sample-application-with-backbone-js-and-twitter-bootstrap-updated-and-improved/) for more information about the application. \
                      ## Setting Up ## \
                      npm install \
                      node server.js ",
            'published': false,
            'perma': '2',
            'lastEdit': 'December 30th 2013, 12:00:00 am'
          },
        ];

        return function( myArticles ){
          myArticles.reset( articles );
        };
      });
      require( ["main"] );