body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

p
  color: green

#draft-preview
  border: solid black 1px
  display: block


.invisible
  visibility: visible
  display: block

.invisible > *
  display: inherit


