extends ../layout

block header
  div.header
    div.logo

    div.top_bar
      span.post_type_icon :D
      span.post_type_icon :X
      span.post_type_icon :O

block content
  section#editor-app
  include ../../public/javascripts/templates/editor_main









